
body {
    font-family:Arial, Helvetica, sans-serif; /* Сімейство шрифтів для текста:
     Аріал, Гельветика, Гротеск(всі без засічок)*/
}
.div_index_vkut {/* Створюємо контейнер для Верхнього рядка головної сторінки */
    display: flex; /* Элемент поводить себе, як блочний  */
    flex-direction: row-reverse;/* Головна вісь направлена протележно
    тексту (справа наліво)  */
    height: 48px;/* Висота */
    padding: 6px;/*Внутрішні відступи по всім сторонам елемента*/
}
.index_vkut {/*Оформлення посиланать ()правий верхній кут */
    color: rgba(0,0,0,.87);/* трішки Прозорий чорний */
    text-decoration: none;/* текст без декору */
    vertical-align: middle;/* Вертикальне вирівнювання елемента відносно батьківського.
    Вирівнює середину елемента по базовій лінії + пловини висоти батьківського елемента */
    padding-right: 20px;/*Внутрішній відступ справа від елемента*/
    line-height: 24px;/* Висота рядка */
}
.ancor:hover{/* Спрацьовує, коли користувач наводить на елемент курсором,
    але не обов'язково активує його*/
    text-decoration: underline;/* Підкреслений текст */
    color:lightslategrey;/* світло сірий*/
}

/* Зображення і пошуковий ввід: */
.body {/*логотип */
    display: flex;/* Элемент поводить себе, як блочний  */
    flex-direction: row;/* Головна вісь направлена так, як і текст (зліва направо) */
    justify-content: center;/* Флекси вирівнюються по центру  */
    flex-wrap: wrap;/* Флекси розбиваються на декілька рядків  */
}
.body > img {
    min-height: 92px;/* мінімальна висота елемента */
    max-height: 100%;/* максимальна висота елемента */
    max-width: 100%;/* максимальна ширина елемента */
    object-fit: contain;/* Контент змінює розмір, підлаштовуючись під
    область в середині блоку */
    object-position: center bottom;/* Позиція об'єкта: центральний низ */
    width: auto;/* ширина автоматично*/
}
.body > div > span{
    /* div - блочний елемент(займає всю ширину батьківського),
    span - рядковий(займають простір обмежений тегами)*/
    position:relative;/* відносне позиціювання здивагає елемент відносно
    його звичайного положення*/
    left: 126px;/* здвинутий на 126 пиксілив вправо */
    bottom: 10px;/* здвинутий відносно нижньої границі */
    color: #4285f4;/*Відтінок синьо-блакитного*/
    font: 16px/16px roboto-regular, arial, sans-serif;/* шрифти */
}
/* Пошуковий ввід */
.form {
    width: 500px;/* ширина */
    margin: 10px;/* запас */
    height: 44px;/* Висота */
    background: #fff;/* білий */
    border: 1px solid #dfe1e5;/*Кордон: однією суцільною світло-сірою лінією в 1 піксель*/
    box-shadow: none; /* Тінь відсутня */
    border-radius: 24px;/* скруглити кути кордону */
}
.form:hover{/* Спрацьовує, коли користувач наводить на елемент курсором,
    але не обов'язково активує його*/
    background-color: #fff;/* білий */
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);/* темно сіра тінь
    offset-x|offset-y|blur-radius */
    border-color: rgba(223,225,229,0);
}
@media (max-width: 499px) {/* @media- зв'язує набір операторів в {}, застосовується
при дотриманні умови одного чи декількох медіависловів */
    .form {
        width: 90%;/*Ширина */
    }
}
.input {/* для створення інтерактивних елементів,
 для отримання даних від користувача */
    width: inherit;/* наслідує ширину, визначену батьківським елементом */
    max-width: 90%;/* максимальна ширина */
    background-color: transparent;/* колір фону :прозорий */
    border: none;/* без кордону */
    margin:5px 0px 0px 20px;/*зовнішній відступ на всіх зовнішніх сторонах єлемента
    верх=справа=знизу=зліва*/
    padding: 0;/* Немає відступу від кордону */
    color: rgba(0,0,0,.87);/* трішки Прозорий чорний */
    word-wrap: break-word;/* при перевищенні кордонів блоку можуть бути розбиті
    (цілими словами) в будь-якому місці, якщо не буде підодящого місця для рядка */
    outline: none;/* без контуру */
    height: 34px;/* Висота */
    font-size: 16px;/* розмір шрифту */
}

/* Кнопки пошуку */
#btn{

    margin: 11px 4px;/*зовнішній відступ на зовнішніх сторонах єлемента*/
    padding: 0 16px;/* Відступ від кордону */
    line-height: 27px;/* висота рядка */
    height: 36px;/* Висота */
    min-width: 54px;/* мінімальна ширина */
    text-align: center;/*вирівнювання тексту по центру */
}

/* Розширений пошук*/
.adv_index_top_row{/*верхній рядок, перехід на головну */
    display: flex;/* Элемент поводить себе, як блочний  */
    flex-direction: row-reverse;/* Головна вісь направлена протележно тексту (справа наліво)*/
    justify-content: space-between;/*Флекси рівномірно розподіляються по всьому рядку.Перший і останній
    притискаються до країв контейнера*/
    height: 48px;/* Висота */
    padding: 6px;/* Відступ від кордону */
}
#adv_link{/*верхній рядок, перехід на головну за логотипом */
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
    /* Логотип google*/
    width: 74px;/* Ширина */
}
#adv_title{/*червоний заголовок"Розширений пошук" */
color: #d93025;/* Червоний колір */
font-size: 20px;/* розмір шрифту */
margin: 25px 35px;/*зовнішній відступ на  зовнішніх сторонах єлемента*/
margin-left: 45px;/*зовнішній відступ зліва*/
}
#adv_line{/*Лінія під заголовком */
    border-bottom: 1px solid #ebebeb;/*Нижній кордон суцільний світло сірий*/
}
#adv_div_form{/*Область форми для вводу */
    max-width: 1140px;/* максимальна Ширина */
    min-width: 200px;/* мінімальна Ширина */
    margin: 40px 2% 0 45px;/*зовнішній відступ на всіх зовнішніх сторонах єлемента
    верх=справа=знизу=зліва*/
}
#adv_form_title{/*Знайти сторінки із... */
    height: 30px;/* висота */
    vertical-align: middle;/* Вирівнює середину елемента по базовій
    лінії+половина висоти батьківського елемента  */
    min-width: 167px;/*мінімальна ширина*/
    width: 10%;/* Ширина */
    font-size: 16px;/* розмір шрифту */
    min-height: 42px;/* мінімальна висота  */
    font-weight: 500;/* Жирність шрифту  */
    color: #333;/* темно-вугольний */
}
.adv{/*верхній рядок, перехід на головну */
    display: flex;/* Элемент поводить себе, як блочний  */
    flex-wrap: wrap;/* Флекси вирівнюються по центру  */
}
.adv > div{
    height: 42px;/* Висота */
    min-width: 167px;/* мінімальна ширина */
    display: flex;/* Элемент поводить себе, як блочний  */
    font-size: 13px;/* розмір шрифту */
}
.adv_div_param_title{/*назви заголовків вводу */
    width: 16%;/* Ширина */
    color: #222;/* темно сірий */
    align-items: center;/* задає значення для всіх дочірніх елементів як групи. Рівномірно по центру */
}
.adv_div_param_input {/*поля вводу*/
    width: 50%;/* ширина */
    justify-content: flex-end;/* Елементи упаковуються впритул до краю контейнера вирівнювання
    залежно від основної сторони гнучкого контейнера. Це стосується лише елементів гнучкого макета.
    Для елементів, які не є дочірніми елементами гнучкого контейнера, це значення обробляється як end. */
}
.label{/*для заголовків полів вводу */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.adv_input{/* розташування полів вводу між собою, офрмлення */
    width: 100%;/* Ширина */
    border-radius: 1px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;/* Колір межі суцільний світло-сірий  */
    border-top: 1px solid #c0c0c0;/* встановлює всі значення верхньої межі. Колір суцільний світло-сірий */
    height: 30px;/* висота */
    padding: 1px 8px;/* Відступ від кордону */
}
.adv_input:hover{/*Для кнопки Розширений пошук*/
    /*hover спрацьовує, коли користувач наводить на елемент курсором,
    але не обов'язково активує його*/
    box-shadow: inset 0 1px 2px rgba(48, 45, 45, 0.3);/* темно сіра тінь всередені елемента
    offset-x|offset-y|blur-radius */
    border: 1px solid #4d90fe;/* блакитний суцільний кордон */
    outline: none;/* контур відсутній */
}
#adv_btn{/*для кнопок */
    margin: 10px 0;/* запас*/
    line-height: 100%;/* висота рядка*/
    height: 30px;/* висота*/
    min-width: 120px;/* мінімальна ширина*/
    box-shadow: none;/* без тіней*/
    background-color: #4d90fe;/* світло-блакитний колір фону*/
    border: 1px solid #3079ed;/* більш темно-блакитний колір суцільної межі*/
    color: #fff;/* білий */
    cursor: pointer;/* курсор - рука, що вказує */
}
#adv_btn:hover{/*для кнопок*/
    /*hover- Спрацьовує, коли користувач наводить на елемент курсором,
    але не обов'язково активує його*/
    box-shadow: inset 0 0 0 1px #fff;/* тінь всередені білого кольору*/
    border: rgba(107, 89, 224, 0.803) solid 1px;/* синьо-фіолетовий, суцільний*/
    outline: rgba(67, 175, 194, 0.648) 0;/* грязно-блакитний, напівпрозорий*/
}
